<!DOCTYPE html>
<html>
<head>

<title>NC Rainbow Run, Volunteer</title>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="Keywords" content='nc rainbow run, rainbow run, charity, fundraiser, LGBT, LGBTQIA, burgaw, old river farms, wilmington, raleigh, 5k,nc, north carolina, fun run, charity run, volunteer, student race, student project' />
    <meta name="Description" content='Volunteer for the NC Rainbow Run. The NC Rainbow Run is an untimed 5k in Burgaw, NC to benefit homeless LGBT youth.' />
    <link rel=icon href=../favicon.png sizes="16x16" type="image/png">
    <link href="navigation/rainbow.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="navigation/jquery.js"></script>
    <script type="text/javascript" src="navigation/carousel.js"></script>

</head>

<body>
<div id="header">
		
      
        <center><img src="images/headerlogo.png" /></center>
       
  
   
 
</div>
<div id="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/signedup">Get signed up </a></li>
        <li><a href="/beneficiaries">Beneficiaries</a></li>
        <li><a href="/fundraising">Fundraising Competition</a></li>
        <li class="nowbar"><a href="/awards">Awards</a></li>
        <li><a href="/contact">Contact Us</a></li>
    </ul>
</div>
<div id="content"> 
     <div class="contenthead">Volunteer</div>




    <div class="imgwrapper">
        <div class="carousel-wrapper">
            <div class="carousel">
                <div class="carousel-body">
                    <ul>
                        <li><img src="images/volunteer.jpg" width="600" height="400" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  

      <div class="hosen plr80 pb30">If you'd like to volunteer for the NC Rainbow Run please email us at <a href="mailto:ncrainbowrun@gmail.com">ncrainbowrun@gmail.com</a>
    </div>
    
    <div class="hosen plr80 pb30"> We need volunteers to be there on the race day (March 5th) before, during, and after the race. These volunteers will help set up, clean up, work at the registration tables, and work at water stations positioned along the race course. Also on the days leading up to the race we need volunteers to help spread the word and to help make finisher medals.

    </div>
      
    
    <div class="hosen plr80 pb50">Thank you to our volunteers last year from <a href="http://www.capefearequality.org/">Cape Fear Equality</a> and <a href="http://stjudesmcc.org/">St. Jude’s Metropolitan Community Church!</a>
</div>

  
  
</div>

<div id="footer"> &copy;&nbsp;2014 NC Rainbow Run - All Rights Reserved.&nbsp;&nbsp;<a href="volunteer"><img
        src=" images/btn_volunteer.gif" align="absmiddle"></a>&nbsp;&nbsp;<a href="sponsor" target="_blank"><img
        src="images/btn_sponsor.gif" align="absmiddle"></a>&nbsp;&nbsp;<a href="https://www.facebook.com/ncrainbowrun"
                                                                          target="_blank"><img
        src="images/btn_facebook.gif" align="absmiddle"></a>&nbsp;&nbsp;<a href="https://twitter.com/NC_Rainbow_Run"
                                                                           target="_blank"><img
        src="images/btn_tweet.gif" align="absmiddle"></a>&nbsp;&nbsp;<a href="mailto:ncrainbowrun@gmail.com"><img
        src="images/btn_email.gif" align="absmiddle"></a>
</div>
</body>
</html>
